<style type="text/css" media="screen">
#slidermain{
	height:808px; 	/*this changes the height of the image slider*/
	width:1020px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(<%= asset_path 'back_int.png' %>);
	background-repeat:no-repeat;
	z-index:9999;
}
.aviaslider{
	height:776px; 	/*this changes the height of the image slider*/
	width:951px;
	overflow: hidden;
	position: relative;
}

#contentover {
	width:260px;
	padding: 25px;
	z-index:9;
	position:absolute;
	color:#FFF;
	margin-left: 670px;
	margin-top: 0px;
	text-align:justify;
}
#contentover_under {
	width:430px;
	padding: 25px;
	z-index:9;
	position:absolute;
	color:#FFF;
	margin-left: 40px;
	margin-top: 250px;
	text-align:justify;
}
.titles {
	font-family: BebasNeueRegular;
	font-size:36px;
	text-transform:uppercase;
	color:#000;
}
.titles_smaller {
	font-family: BebasNeueRegular;
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
}
#teamback{
	background-color: #b5e2ec;
	padding:20px;
	color:#404647;
	line-height:16px;
	font-size:12px;
	margin-left:-30px;
	margin-top:-20px;
	z-index:90;
}
#navi {
	padding: 10px;
}
#navi:hover {
	background-color: #1C8DA4;
	padding: 10px;
}#menu_items {
	z-index: 100;
	position:relative;
}
#next_page {
	z-index:10;
	color:#de791d;
}
#next_page a {
	color:#de791d;
	text-decoration:none;
}

#next_page a:hover {
	color:#89bfc8;
	text-decoration:none;
}
</style>

<div id="slidermain">
<div id="slidepanels">
          <div id="contentover"><span class="titles_smaller">Without a doubt, asset allocation is the most important portfolio decision you make.</span> Why? Well, like many of the nation's leading financial economists, we believe structure explains the majority of risks and returns (see Does Asset Allocation Policy Explain 40%, 90%, or 100% of Performance).  Of course, our belief is not without controversy.  In attempt to differentiate themselves, sell a proprietary product, or add a perceived value, many advisors believe that it's their &quot;crystal ball&quot; that gives them the skills to time the market, pick the winners, and avoid the losers.  Unfortunately for them, their view is unfounded!  Stocks and bonds are the two major asset classes used in portfolio diversification.  The amount that an investor should have in stocks and bonds is based on two personal questions.  One, what is the expected return required to meet your financial objectives today and tomorrow?  Second, what is your tolerance for investment risk?  Sounds easy, right?  Not so fast my friend.  Successful allocation requires the understanding of how asset classes work together (correlation); boundaries of risk tolerance; compensation for certain style or sector risk factors; and deprivation for fees and taxes.  A successful asset allocation strategy is one that achieves an investor's goals without so much volatility that it causes the investor to make the two most common behavioral mistakes:  timing the market and lack of diversification (i.e., picking winners and losers).  Ironic!<br><br>
<div id="next_page"><strong><a href="fund.php">NEXT >Fund Selection</a></strong></div></div>
 
          
          
<ul class='aviaslider' id="fullwidth-fade-slider">
<li><img src="assets/asset.jpg" alt="asset allocation and diversification explains investor performance" /></li>
    </ul>
  </div>
				
		
</div>
