<style type="text/css" media="screen">

#slidermain{
	height:808px; 	/*this changes the height of the image slider*/
	width:1020px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(<%= asset_path 'back_int.png' %>);
	background-repeat:no-repeat;
	z-index:9999;
}
.aviaslider{
	height:776px; 	/*this changes the height of the image slider*/
	width:951px;
	overflow: hidden;
	position: relative;
}

#contentover {
	width:520px;
	padding: 25px;
	z-index:9;
	position:absolute;
	color:#FFF;
	margin-left: 40px;
	margin-top: 220px;
	text-align:justify;
}
#contentover_under {
	width:430px;
	padding: 25px;
	z-index:9;
	position:absolute;
	color:#FFF;
	margin-left: 40px;
	margin-top: 250px;
	text-align:justify;
}
.titles {
	font-family: BebasNeueRegular;
	font-size:36px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
}
.titles_smaller {
		    font-family: 'BebasNeueRegular';
			font-size:22px;
			text-transform:uppercase;
			letter-spacing:1px;
}
#teamback{
	background-color: #b5e2ec;
	padding:20px;
	color:#404647;
	line-height:16px;
	font-size:12px;
	margin-left:-30px;
	margin-top:-20px;
	z-index:90;
}
#navi {
	padding: 10px;
}
#navi:hover {
	background-color: #1C8DA4;
	padding: 10px;
}#menu_items {
	z-index: 100;
	position:relative;
}
#next_page {
	position: absolute;
	z-index:10;
	margin-left: 65px;
	margin-top: 550px;
	color:#de791d;
}
#next_page a {
	color:#de791d;
	text-decoration:none;
}

#next_page a:hover {
	color:#89bfc8;
	text-decoration:none;
}
</style>

<div id="slidermain">
<div id="slidepanels">
          <div id="contentover">
            <p>Hands down, the third and biggest step in our process is the mutual commitment to work together.  Why?  Well it's not because we go through the formality of executing agreements, but instead, it's because you are taking an extremely important step toward securing your future and achieving all things that are financially significant to you.  We know you'll have questions.  In fact, we even expect you to have some buyer's remorse.  That's okay; it's common.  What's critical is that you gain confidence in the process of making informed investment decisions by ignoring the noise dished out by the financial media, and that you embrace your strategy for the long-haul.  Depending on where you are in your journey, the ride can be rough at times – that's okay too – we'll be there to hold your hand and to explain that the uneven nature of investment gains is an unavoidable part of attaining financial goals.  Let's get to work!<br>
<br>
           
            </p><p>&nbsp;</p>
</div>
 
          <div id="next_page"><strong><a href="account.php">NEXT > Account Administration </a></strong></div>
          
<ul class='aviaslider' id="fullwidth-fade-slider">
<li><img src="assets/commitment.jpg" alt="mutual commitment to investment plan" /></li>
    </ul>
  </div>
				
		
</div>
