<style type="text/css" media="screen">
#slidermain{
	height:808px; 	/*this changes the height of the image slider*/
	width:1020px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(<%= asset_path 'back_int.png' %>);
	background-repeat:no-repeat;
	z-index:9999;
}
.aviaslider{
	height:776px; 	/*this changes the height of the image slider*/
	width:951px;
	overflow: hidden;
	position: relative;
}

#contentover {
	width:875px;
	padding: 25px;
	z-index:9;
	position:absolute;
	color:#FFF;
	margin-left: 40px;
	margin-top: 350px;
	text-align:justify;
}

#contentover a {
	color:#de791d;
	text-decoration:none;
}
#contentover a:hover {
	color:#FFF;
	text-decoration:none;
}
#contentover_under {
	width:430px;
	padding: 25px;
	z-index:9;
	position:absolute;
	color:#FFF;
	margin-left: 40px;
	margin-top: 250px;
	text-align:justify;
}
.titles {
	font-family: BebasNeueRegular;
	font-size:36px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#000;
}
.titles_smaller {
	font-family: BebasNeueRegular;
	font-size:25px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
}
#teamback{
	background-color: #b5e2ec;
	padding:20px;
	color:#404647;
	line-height:16px;
	font-size:12px;
	margin-left:-30px;
	margin-top:-20px;
	z-index:90;
}
#navi {
	padding: 10px;
}
#navi:hover {
	background-color: #1C8DA4;
	padding: 10px;
}#menu_items {
	z-index: 100;
	position:relative;
}
#next_page {
	position: absolute;
	z-index:10;
	margin-left: 65px;
	margin-top: 740px;
	color:#de791d;
}
#next_page a {
	color:#de791d;
	text-decoration:none;
}

#next_page a:hover {
	color:#89bfc8;
	text-decoration:none;
}
</style>

<div id="slidermain">
<div id="slidepanels">
          <div id="contentover">
            <p><span class="titles_smaller">Once an investor decides upon their stocks – bonds mix, breaks down their stocks and bonds into specific global asset classes, and determines which styles and sectors to tilt the portfolio, the next step is to efficiently implement the strategy. </span>Considering practical investment considerations, the question is how?  Let's start with costs.  Intelligent investors know that costs matter – a lot!  The more you pay in investment costs, the lower you can expect your long-term returns (see <a href="#">The Arithmetic of Active Management, William Sharpe, Nobel Laureate in Economic Sciences</a>).  Therefore to mitigate costs and as Modern Portfolio Theory (MPT) is based on financial market returns, Questis favors institutional, low-cost, and broadly diversified asset-class, index, and exchange-traded funds (ETFs).  These funds are designed to provide investors their share of market returns less a small expense ratio.  The funds also have low turnover of securities, which makes them more tax-efficient than most mutual fund types.  As there are many investment funds available for each asset-class category, none of which are created equal, Questis analyzes and selects the most appropriate funds for our clients' portfolios.  In our analysis we consider and evaluate the underlying fund structure, portfolio turnover, management fees, fund liquidity, and many other factors.  Although we're not biased toward one investment fund company versus another, typically, a client portfolio will hold funds from several different providers of both open-end funds and ETFs such as <a href="http://www.vanguard.com" target="_blank">The Vanguard Group</a>, <a href="http://www.dfaus.com/" target="_blank">Dimensional Fund Advisors</a> (DFA), <a href="http://www2.blackrock.com/global/home/index.htm" target="_blank">Blackrock Investment Management</a> (iShares), and <a href="http://www.ssga.com/" target="_blank">State Street Global Advisors</a> (SSgA).<br>
           
            </p><p>&nbsp;</p>
</div>
 
          <div id="next_page"><strong><a href="rebalancing.php">NEXT > Rebalancing </a></strong></div>
          
<ul class='aviaslider' id="fullwidth-fade-slider">
<li><img src="assets/fund.jpg" alt="fund selection index passive" /></li>
    </ul>
  </div>
				
		
</div>
